.function {
    background-color: $color-white;
    &__buttons {
      counter-reset: steps;
  
      display: flex;
      gap: 2rem;
      @media (max-width:766px) {
        flex-direction: column;
        padding: 1rem;
      }
    }
  }
  
  .function__btn {
    display: flex;
    align-items: center;
    background-color: $background-color;
    border-radius: 1.5rem;
    flex-grow: 1;
    padding: 1.5rem 0;
    width: 100%;
    @media (min-width:768px) and (max-width:1022px) {
      padding: 1.5rem 0 1.5rem 0;
    }
    @include base-shadow;
      &:hover {
        transition: all 300ms ease-in;
        @include btn-lighten;
          & > i {
              transition: all 300ms ease-in;
              color:darken($color: $primary-color, $amount: 15);
          }
      }
  }
  
  .function__btn {
    &::before {
      counter-increment:steps;
      content: counter(steps);
      position:relative;
      left: -0.8rem;
  
      color:#FFF;
      width: 1.5rem;
      height: 1.5rem;
  
      background-color: $primary-color; 
      border-radius:50%;

      @media (min-width:768px) and (max-width:1022px) {
        margin-right: -0.4rem;
        width: 1.8rem;
      }
  
      @include flex-center;
    }
      & i {
        color: grey;
        padding: 0 1rem;
        font-size: 1.3rem;
      }
  }