@mixin base-shadow {
    box-shadow: $btn-shadow $shadow-color;
}
  
@mixin btn-lighten($color:$primary-color) {
    background-color: lighten($color: $primary-color, $amount: 25)
} 

// Gradiant // 
@mixin gradient($degree) {
    background: $primary-color;
    background:linear-gradient(($degree), $primary-color 25%, $secondary-color 100%);
}

// Flex Center //
@mixin flex-center {
    display:flex;
    justify-content:center;
    align-items:center;
}

// hover_btn //
@mixin hover-btn {
    transform: scale(1.05);
    transition: all 80ms ease-in;
    filter: brightness(1.05);
    box-shadow: #D5D5D5 0.5rem 0.5rem 0.5rem 0.1rem;
}